@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.navContainer {
    position: fixed;
    width: 100%;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    padding: 1rem 3rem;
    border-radius: 20px;
    color: #212529;
    box-shadow: 0px 10px 30px rgba(209, 209, 209, 0.5);
}

.regulateNav {
    width: 100%;
    height: 80px;
}

.titleNav {
    font-weight: 700;
    font-size: 30px;
}

.navElement a {
    color: #212529;
    font-weight: 400;
    margin-right: 20px;
    padding: .5rem 1rem;
    transition: .3s;
    border-radius: 10px;
}

.navElement a:hover {
    background-color: #F2F3F4;
}

.iconsSocial a i {
    margin-left: 1rem;
    font-size: 25px;
    color: #212529;
    transition: .3s;
}

.iconsSocial a i:hover {
    transform: scale(1.2);
}

.addHide {
    display: none;
}

.limite {
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 100%;
    height: 94vh;
}

.contentApp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userContainer {
    width: 40%;
    height: 90%;
    padding: 2rem;
    background-color: #212529;
    border-radius: 20px;
}

.taskContainer {
    width: 55%;
    height: 100%;
    padding: 2rem;
    border-radius: 20px;
}

.contentInfo {
    width: 100%;
    height: 30%;
    background-color: white;
    margin-bottom: 10%;
    border-radius: 15px;

}

textarea {
    width: 100%;
    height: 120px;
    padding: 1rem;
    border-radius: 7px;
    resize: none;
    outline: 0;
}

textarea::placeholder {
    font-size: 1.25rem;
}

h3 {
    color: white;
}

.parrafos {
    color: white;
    text-align: center;
    margin-top: 10%;
}

a {
    text-decoration: none;
    color: white;
}

.swal2-styled.swal2-confirm {
    border: 1px solid #212529 !important;
    color: #212529 !important;
    background-color: white !important;
}

::-webkit-scrollbar {
    width: 0.4rem;
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #212529;
    transition: 0.3s;
    border-radius: 20px;
}

.homePage {
    padding-top: 10rem;
    width: 100%;
    height: 1000px;
    background-image: url('./src/assets/img/blog-body-bg.png');
}

.homePage__info h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

.colorTitle {
    color: #7B7D7D;
}

.parrafoHomePage {
    color: #212529;
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

p {
    margin-bottom: 0;
}

.btnContanier {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.btnSignIn {
    background-color: #000;
    border: none;
    font-size: 22px;
    padding: .5rem 1.5rem;
    margin: 0 .5rem;
    border-radius: 30px;
    font-weight: 500;
    color: #fff;
}

.btnSignUp {
    background-color: #fff;
    border: 1px solid #000;
    font-size: 22px;
    padding: .5rem 1.5rem;
    margin: 0 .5rem;
    border-radius: 30px;
    font-weight: 500;
    transition: .3s;
}

.btnSignUp:hover {
    background-color: #000;
    color: #fff;
}